#header {
  background-color: rgb(242, 122, 75);
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  text-align: center;
}
#header h2 {
  position: relative; 
  margin: 0;
  bottom: 30px;
}
#header img {
  height: 200px;
  width: 200px;
  animation: float 2.5s ease-in-out infinite;
}