#header {
  background-color: hsl(14, 88%, 49%);
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  height: 400px;
  position: absolute;
  top: 120px;
  right: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

#header h2 {
  position: relative;
  bottom: 30px;
}