.bar {
  color: #FFFFFF;
  background-color: #4056A1;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 120px;
  width: 100vw;
  z-index: 1000;
  padding: 1.5em;
}
.bar div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 63px;
}
.bar div button {
  border: none;
  background-color: #4056A1;
  animation: float 2s ease-in-out infinite;
  outline: none;
}
.bar div button img:hover {
  animation: float 0.4s linear;
  cursor: pointer;
}


#logo {
  font-family: 'Bungee', cursive;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(8px);
	}
	100% {
		transform: translatey(0px);
	}
}